.root{
    -fx-background-image: url("http://www.pageresource.com/wallpapers/wallpaper/metal-texture-nuw-deviantart-free_174184.jpg");
}


.label {
    -fx-font-size:20;
    -fx-font-weight: bold;

}

.button {
    -fx-text-fill: black;

}