.root{
    -fx-background-color: #1C2023;
    -fx-text-fill: #F3F4F5;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.label{
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.button{
	-fx-background-color: #95AEC7;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-background-radius: 6;
}

.combo-box{
	-fx-background-color: #ADB3BA;
}

.text-input{
	-fx-text-fill: #0072BB;
	-fx-background-color:#F3F4F5;
}

.table-view{
   -fx-background-color: transparent;
   
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #FFD034;
    -fx-text-alignment:left;
    -fx-font-size: 11px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    
}

.table-view .table-cell{
    -fx-text-fill: #95C7AE;
    -fx-font-size: 11px;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-font-size: 11px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-font-size: 10px;  
}

.table-row-cell:selected {
    -fx-background-color: #0072BB;
    -fx-font-size: 11px;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


