.root{

    -fx-background-color: black;
    -fx-text-fill: white;

}


.label {
    -fx-font-size:20;
    -fx-font-weight: bold;
    -fx-text-fill: white;

}

.button {
    -fx-base: grey;
    -fx-text-fill: black;

}